// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-header-photos {
  height: 380px;
  display: flex;
  position: relative;
  overflow: hidden;
}
 
.bh-photo {
  height: 100%;
  width: 34%;
  object-fit: cover;
}

.business-header {
  position: relative;
}

.bh-info {
  width: 80%;
}

.bh-info-wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 64px;
  display: flex;
  align-items: flex-end;
  color: white;
}

.business-header-title {
  font-size: 48px;
  line-height: 54px;
  font-weight: 900;
  height: 67px;
}

.fa-star {
  background-color: #23d3d3;
  color: white;
  font-size: 18px;
  padding: 12px;
  border-radius: 8px;
  margin: 0px 2px;
}

.business-header-rating {
  margin-bottom: 16px;
}

.business-header-hours {
  margin-top: 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-align: left;
}

.business-header-price {
  margin-top: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-align: left;
}

.business-header-photos-bttn {
  padding: 12px 32px;
  border: 2px solid rgb(187,186,192);
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  transition: all .15s;
}

.business-header-photos-bttn:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.business-body-hours {
  font-size: 14px;
  color: rgba(43,39,60,1);
  max-width: 170px;
  font-weight: 500;
  
}

.hours-day {
  margin-bottom: 8px;
}

.loc-hours-title {
  font-weight: bold;
  color: rgba(43,39,60,1);
  font-size: 20px;
  padding-top: 28px;
  padding-bottom: 12px;
}

.create-review-button {
  width: 154px;
  height: 22px;
  padding: 8px 16px;
  background-color: #23d3d3;
  border-radius: 4px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

a > #button-star {
  background-color: transparent;
  color: white;
  padding: 0;
  margin-left: 0;
  margin-right: 8px;
  font-size: 16px;
}

.business-body-review-button {
  padding-top: 16px;
}

.business-body {
  width: 1144px;
  padding: 0 64px;
  margin: 0 auto;
  position: relative;
}

.bus-body-info {
  margin: 30px 0px 750px 0px;
  width: 300px;
  height: 200px;
  position: sticky;
  top: 20px;
}

.bus-body-info ul {
  top: 100px;
  width: 300px;
  padding: 10px;
  margin: 0px 0px 0px 10px;
  border: solid 1px lightgray;
  border-radius: 4px;
}
.bus-body-info ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
  align-items: center;
}
.bus-body-info ul li:last-child {

  border-bottom: none
}

.side-info {
  color: #00838f;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-overflow: ellipsis;
}

.side-info-dir {
  margin-top: 10px;
}
.side-info-dir a{
  color: #00838f;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.side-info-phone {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}
.side-info-address {
  color: gray;
  margin: 5px 0px 0px 0px;
}
.side-info a {
  color: #00838f;
  text-decoration: none;
  text-overflow: clip;
}
.side-info:hover, .side-info-dir a:hover{
  text-decoration: underline;
}

.bus-loc-hours-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: space-evenly;
  position: relative;
}

.bus-loc-hours-wrapper {
  box-sizing: border-box;
}

.business-body-reviews > h2 {
  font-size: 20px;
  padding-bottom: 12px;
  font-weight: bold;
}