footer{
  /* position: relative; */
  margin-top: 100px;
  background: lightgray;
  height: 400px;
  width: 100%;
  color: white;
  text-align: center;
 }

.footer-links {
display: flex;
flex-direction: column;
}

footer a {
  margin-top: 10px;
  margin: 10px auto 0px auto;
  font: bold 10px helvetica;
  color: #23d3d3;
  text-decoration: none;
  width: max-content;
  text-align: center;
}

footer a:hover {
  text-decoration: underline;
 }

.about-user-title {
	font-size: 16px;
	color: #d32323;
	font-weight: bolder;
	padding-top: 18px;
	padding-bottom: 8px;
}