// THIS IS FOR THE SPLASH PAGE
.splash-header {
    height: 600px;
}
.splash-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 30px;
}

.search-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(119, 119, 119);
}

.search-input-wrapper > p {
    padding-left: 12px;
    color: rgb(119, 119, 119);
}

.search-input-wrapper > p:hover {
    padding-left: 12px;
    color: rgb(119, 119, 119);
    cursor: default;
}
.splash-title {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin-top: 100px;
  margin-bottom: 48px;
}

.splash-header-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 600px;
  background-color: #333;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://images.unsplash.com/photo-1529981188441-8a2e6fe30103?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80");
  z-index: -55;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.459);
  z-index: -10;
}

.splash-main {
    max-width: 960px;
    margin: 0 auto;
}

.splash-main > h1 {
  padding-top: 36px;
  text-align: center;
  font-weight: 600;
  color: #23d3d3;
}

.splash-main-links > a {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    display: flex;
    align-items: center;

    padding: 0 12px;
}

.splash-main-links > a:hover {
    text-decoration: none;
    height: 33px;
    border-bottom: 3px solid #23d3d3;
}


.splash-main-links {
    border-bottom: 1px solid #666666;
}

.hot-splash-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
}

.bus-splash-wrapper {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 250px;
}

.bus-splash-pic {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bus-splash-link {
  text-decoration: none;
  color: #0073bb;
}

.bus-splash-link:hover {
  text-decoration: underline;
}